.close-btn {
  position: absolute;
  top:0;
  right: 0;
  min-width: 50px;
  padding: 0;
}

.title {
  font-weight: 500;
  margin-bottom: 8px;
}

.referral-link-container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.referral-link {
  width: calc(100% - 30px);
}

.clipboard-btn {
  width: 30px;
}
