<button mat-button (click)="onClose()" class="close-btn">
  <mat-icon>close</mat-icon>
</button>

<div mat-dialog-content *ngIf="data.airdrop">

  <div class="title mt4">{{data.airdrop.title}} referral link</div>

  <div *ngIf="userIsHolder && view === 'OLD'" class="referral-container">
    <div class="referral-link-container mt4" (click)="onCopyClipboard(data.airdrop.currentReferral)">
      <div class="referral-link truncate">{{data.airdrop.currentReferral}}</div> <mat-icon class="ml3 clipboard-btn">content_copy</mat-icon>
    </div>
  </div>
  <form [formGroup]="form" *ngIf="userIsHolder && view === 'NEW'">
    <mat-form-field class="w-100">
      <input matInput [formControlName]="'referralLink'" type="text" placeholder="New referral" class="w-100">
    </mat-form-field>
  </form>

</div>

<div mat-dialog-actions *ngIf="data.airdrop.title">
  <div *ngIf="view === 'OLD'">
    <ng-container *ngIf="!userIsHolder">
      <button mat-button (click)="onClaimAirdrop()" cdkFocusInitial >Claim</button>
    </ng-container>

    <ng-container *ngIf="userIsHolder">
      <button mat-button (click)="onLiberateAirdrop()">Release</button>
      <button mat-button (click)="view = 'NEW'">Update</button>
    </ng-container>
  </div>
  <div *ngIf="view === 'NEW' && userIsHolder">
    <button mat-button (click)="view = 'OLD'">Back</button>
    <button mat-button (click)="onReferralSave()">Save</button>
  </div>

</div>
