<div class="pa3">
  <mat-card *ngIf="airdrop">
    <mat-card-header>
      {{airdrop.title}}
    </mat-card-header>
    <mat-card-content class="mt4">
      <div *ngIf="!blockedByOtherUser">
        <button mat-raised-button class="w-100" (click)="onClick(airdrop)">
          <span *ngIf="blockedByMe">Update referral state</span>
          <span *ngIf="!blockedByMe">Claim latest referral</span>
        </button>
      </div>
      <div *ngIf="blockedByOtherUser">
        Currently blocked by {{isBlockedBy()}}
      </div>


    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="referrals" class="mt4">
    <mat-card-header>
      <mat-card-title>
        Referrals
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="referral-item pb2 mb2" *ngFor="let referral of referrals">
        <div class="link truncate">{{referral.user.username}}</div>
        <div class="username truncate strike">{{referral.referral}}</div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
