<mat-toolbar>
	<button mat-icon-button (click)="onBack()">
		<mat-icon>keyboard_arrow_left</mat-icon>
		<span>zurück zur Liste</span>
	</button>
</mat-toolbar>

<mat-card>
	<mat-card-header>
		<mat-card-title>
			Neuen Airdrop anlegen
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="form-container" [formGroup]="itemForm">

			<mat-form-field>
				<input matInput placeholder="Titel" formControlName="title" required>
				<mat-error *ngIf="itemForm.get('title').hasError('required')">
					Bitte Titel ausfüllen.
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Projekt Link" formControlName="projectLink" required>
				<mat-error *ngIf="itemForm.get('projectLink').hasError('required')">
					Bitte Projekt Link ausfüllen.
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Referral Link" formControlName="referralLink" required>
				<mat-error *ngIf="itemForm.get('referralLink').hasError('required')">
					Bitte Referral Link ausfüllen.
				</mat-error>
			</mat-form-field>

			<div class="button-row">
				<button mat-raised-button color="primary" (click)="saveItem()">Speichern</button>
			</div>
		</div>
	</mat-card-content>
</mat-card>
