<mat-toolbar>
  <button mat-button routerLink="/airdrop/create">
    <mat-icon>add_circle</mat-icon>
    <span>Create airdrop</span>
  </button>
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<div>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- Creator Column -->
    <ng-container matColumnDef="creator">
      <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd.MM.yy'}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [class.user-is-holder]="row.userIsHolder" (click)="onClick(row)"></mat-row>
  </mat-table>
</div>
