<mat-button-toggle-group #group="matButtonToggleGroup" (change)="switchContent($event)" >
	<mat-button-toggle value="REQUESTS" [checked]="true">
		Profile
	</mat-button-toggle>
	<mat-button-toggle value="AIRDROPS">
		My airdrops
	</mat-button-toggle>
</mat-button-toggle-group>

<ng-template [ngIf]="group.value === 'REQUESTS'">
  <mat-card>
    <mat-card-header>
      Profile
    </mat-card-header>
    <mat-card-content class="mt4 description">
      <div class="mt1">{{user?.displayName}}</div>
      <div class="mt1">{{user?.email}}</div>

    </mat-card-content>
  </mat-card>

</ng-template>

<ng-template [ngIf]="group.value === 'AIRDROPS'">
	<mat-table #table [dataSource]="requests">

		<!-- Name Column -->
		<ng-container matColumnDef="inventoryTitle">
			<mat-header-cell *matHeaderCellDef> Titel </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.inventoryTitle}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="requestsColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: requestsColumns;" (click)="onClick(row)"></mat-row>
	</mat-table>
</ng-template>
