<mat-menu y-position="below" #appMenu="matMenu">
	<button mat-menu-item routerLink="user/profile"> Profil </button>
	<button mat-menu-item (click)="onLogout()"> Logout </button>
</mat-menu>
<mat-toolbar *ngIf="showNavbar" color="primary" class="nav-top header-shadow">
	<span class="navBar-title" routerLink="/">{{title}}</span>

	<button mat-button routerLink="/airdrop">
		Airdrops
	</button>

	<span class="fill-remaining-space"></span>

	<button class="user-btn" mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>person</mat-icon> <span>{{userName}}</span>
	</button>
</mat-toolbar>
